<button (click)="goBack()">Retour</button>

<!-- <div *ngIf="listofActivities">
    <div *ngFor="let activity of listofActivities">
      <h2>{{activity.name}}</h2>
      <p>{{activity.description}}</p>
      <p>{{activity.rate}}</p>
    </div>
  </div>
  <div class="suggested-activity-container">
    <div class="place-img"> 
      <img src="assets/Front Template/img/service/services6.jpg" alt="" height="300">
    </div>
    <div *ngIf=" let item of listofActivities">
     
      <p>{{ listofActivities.name }}</p>
      <p>{{ listofActivities.description }}</p>
    </div>
  </div> -->