
<section class="pt-5 pb-5 mt-0 aign-items-center d-flex bg-dark" style="min-height: 100vh; background-size: cover; background-image: url('assets/Front Template/img/hero/campingo.jpg');">l
  <div class="container">
    <div class="header">
      <h1>Login</h1>
    </div>
    <div class="main">
      <form>
        <span>
          <i class="fa fa-user"></i>
          <input type="text" placeholder="Username" name="" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
        </span><br>
        <span>
          <i class="fa fa-lock"></i>
          <input type="password" placeholder="password" name="" [(ngModel)]="user.password" [ngModelOptions]="{standalone: true}">
        </span><br>
          <button (click)="loginNow()">login</button>
 
      </form>
    </div>
  </div>
 </section>
 


              
           


